{% extends "base.html" %}
{% block body %}

<a href="/signin" {% if session['name'] %} class="authorization-button2 input-hidden" {% else %} class="authorization-button2" {% endif %}>
    <input type="button" value="Зарегистрироваться">
</a>
<form action="/login_registration" method="POST">
    <div class="main">
        <h2 class="welcome">Введите логин и пароль</h2>
        <input type="TEXT" name="login" placeholder="Логин" class="input-form">
        <input type="password" name="password" placeholder="Пароль" class="input-form">
        <div class="avito-login">
            <label for="pushme" class="lable-login">
                <input type="SUBMIT" id="pushme" value="Войти" class="login">
            </label>
        </div>
    </div>
</form>

{% endblock %}