{% extends "base.html" %}
{% block body %}

<h1 class="registration">
    {{ the_text }}
</h1>

<div class="div-buttons">
    <a href="/login" class="a-buttons">
        <input type="button" value="Войти" class="search">
    </a>
    <a href="/signin" class="a-buttons">
        <input type="button" value="Зарегистрироваться" class="search">
    </a>
</div>

{% endblock %}

