{% extends "base.html" %}
{% block body %}

<form action="/signin_registration" method="POST">
    <div class="main">
        <h2 class="welcome">Зарегистрируйтесь как <br> пользователь</h2>
        <h3 class="welcome">{{the_text}}</h3>
        <input type="text" name="login" placeholder="Логин" class="input-form">
        <input type="password" name="password" placeholder="Пароль" class="input-form">
        <div class="avito-login">
            <label for="signin" class="lable-login">
                <input type="SUBMIT" id="signin" value="Зарегистрироваться" class="signin">
            </label>
        </div>
    </div>
</form>

{% endblock %}